
@font-face {
    font-family: Kyoc;
    src: url(resources/Kyok-Light.otf);
    
}

html {
    scroll-behavior: smooth;
}

body{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:70px;
    background: linear-gradient(90deg, rgba(214, 250, 216, 0.08), rgba(235, 253, 239, 0.1));
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Kyoc;
    color: white;
    
}

.video-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-attachment: fixed;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.city-name {
    margin:0;
    font-size: 50px;
}

.description {
    margin: 0;
    font-size: 20px;
}

.degrees {
    margin: 0;
    font-size: 70px;
}

.card {
    width: 80vw;
    max-width: 700px;
    min-height: 12vh;
    border: 2px solid rgba(255, 255, 255, 0.027);
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-radius: 18px;
    backdrop-filter: blur(20px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.horizontal-container { 
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 80vw;
    max-width: 700px;
}

#Wind {
    height: 260px;
}

#seven-day-forecast {
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

#hourly-forecast {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: left;
    overflow: hidden;
}

#forecast-id-1 {
    margin-left: 20px;
}

.icon {
    width: 50px;
    height: 50px;
}

.day-icon {
    width: 60px;
    height: 60px;
}

.forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.low {
    opacity: 60%;
}


.daily-forecast {
    padding: 30px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: left;
    font-family: Kyoc, monospace;
}

.weather-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    height: auto;  
}